@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f5f5f7;
  --primary: #f4abba;
  --primary-light: #ffd1dc;
  --secondary: #ea596e;
  --secondary-light: #f4a2ab;
  --accent: #be1931;
  --accent-light: #91f484;
  --dark-blue: #111111;
  --card-bg: rgba(20, 20, 20, 0.8);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-dark-blue: var(--dark-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 添加平滑过渡效果 */
.snap-start {
  scroll-snap-align: start;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}

/* 页面之间的渐变叠加效果 */
.section-transition {
  position: relative;
}

.section-transition::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px; /* 调整渐变高度 */
  background: linear-gradient(to top, transparent, var(--background));
  z-index: 10;
  pointer-events: none;
}

.section-transition::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* 调整渐变高度 */
  background: linear-gradient(to bottom, transparent, var(--background));
  z-index: 10;
  pointer-events: none;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  position: relative;
  z-index: 1;
  display: inline-block;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  animation: twinkle 4s infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
